name: CI

on:
  push:
    branches:
      - "**"        
  pull_request:
    branches:
      - "**"

jobs:
  lint-test:
    name: Lint & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          pip install pytest pytest-cov flake8
          poetry install --no-root


      - name: Run linting
        run: |
          flake8 app/

      - name: Run tests
        run: |
          pytest tests/ --cov=app --cov-report=term-missing