name: Deploy to ECS - Dev

on:
  push:
    branches: [ "dev" ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    uses: ./.github/workflows/_deploy-ecs.yml
    with:
      environment: dev
      ecs_cluster: vm-api-cluster-dev
      ecs_service: vm-api-svc-dev
      iam_role_session_name: gha-ecs-deploy-dev
    secrets:
      aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
